header
{
    ul
    {
        display: flex;
        justify-content: space-between;
        padding: 4px 22px;
        list-style-type: none;
        a
        {
            text-decoration: none;
        }
    }
}